<h1 class="about1">Raft California</h1>
  <p class="about2">Thank You</p>

<div class="panel panel-default">
  <div class="panel-body">
    <p>Thank you. We have received your payment.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->
