// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color: red;
  text-align: center;
}
h2 {
  color: blue;
  text-align: center;
}

.carousel-inner img {
  padding-left: 425px;
  padding-bottom: 40px;
}
.links {
  display: inline;
  float: left;
  margin: 5px;
  }
  .about2 {
    font-size: 2em;
    text-align: center;
  }
  html body {
    background-color: beige;
  }

