// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color: red;
  text-align: center;
}
h2 {
  color: white;
  text-align: center;
}

.carousel-inner img {
  padding-left: 425px;
  padding-bottom: 40px;
}

  .about2 {
    font-size: 2em;
    text-align: center;
    color: white;
  }
  //body {
  //  background-image: url("../img/river.jpg")
  //}
  .carousel-control {
    background-image: none !important;
  }
  .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
  color: red;
}

.form-control {
    display: block;
    width: 50%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
