<div class="row">
  <% @products.each do |product| %>
    <div class="col-sm">
      <h1><%= link_to product.name, product %></h1>
      <p><%= product.description %></p>
      <strong>$ <%= product.price %></strong>
    </div><!-- /col -->
  <% end %>
</div>
